

.hover-div {
  transition: background-color 0.3s ease;
}

.hover-div:hover {
  background-color: white;
}


#dwnld{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 8%;
  height: 3em;
  margin-left: 80em;
}
button{
  border: #1a1a1a;
  border-radius: 50px;
  background-color: gold;
}
.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em; width: 6em ;
  background-color: gold;
  
  
}
.nav-bar{
  border-bottom: 2px solid white; 
  
}


a{
  color: black;
}

#hello{
  font-size: 4em;
}
h5{
  color: white;
}
   
  #section2
  {
    width: 100%;
    height: 55em;
    background-color: black;
  }
  .about{
    background-color: #1a1a1a;
    color: white;
    height: 100%;
  }
  
  #second{
    text-align: center;
  }
  h2{
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  .p1{
    color: gold;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  #h3{
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-align: left;
    font-family: "Raleway", sans-serif;
  }
  
  .row{
    /* width: 100%; */
    /* max-width: 100%; */
    display: flex;
    margin: 12px;
  }
  
  #p2{
    font-style: italic !important;
    color:  gold;
    font-size: 20px;
    text-align: left;
  }
  
  
  
  #ul1{
    text-align: left;
    margin: 10px;
  }
  
  #ul2{
    text-align: left;
    margin: 10px;
  }
  strong{
    font-weight: bolder;
    color: white;
    font-size: 18;
  }
span{
  color: white;
}
* {box-sizing:border-box}

/* Container for skill bars */

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
   /* White text color */
}

.html {width: 90%; background-color: gold;} /* Green */
.css {width: 80%; background-color: gold;} /* Blue */
.js {width: 65%; background-color: gold;} /* Red */
.php {width: 60%; background-color: gold;} /* Dark Grey */



.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
}

.html {width: 90%; background-color: gold;} 
.css {width: 80%; background-color: gold;}
.js {width: 65%; background-color: gold;} 
.c {width: 75%; background-color: gold;}

.skill{
  color: white;
  margin-top: 50px;
  
}
.section3-div{
  background-color: #1a1a1a;
}

.input-box {
  margin:auto 40px 6px;
}

input {
  height: 36px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: #fafafa;
  width:100%;
  font-size:12px;
  margin: 0;
  padding: 9px 0 7px 8px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
input#name:focus, input#password:focus {
  border-color:#bbb;
}

.button-box {
  display: block;
  position: relative;
  margin: 8px 40px;
}
.btn {
  cursor: pointer;
  width: 100%;
  padding:0 8px; 
  background: gold;
  border:1px solid black;
  color: black;
  border-radius:3px;
  
  font-size: 14px;
  height: 28px;
  line-height: 26px;
  outline: none;
  white-space: nowrap;
}
.contact{
  margin: 1em;
  width: 25em;
  margin-left: 12em;
}
.message{
  height: 10em;
  margin: 1em;
  width: 50em;
  margin-left: 7em;
}
.section4-div{
  background-color: black;
}
.send{
  margin-bottom: 5em;
  width: 20em;
  margin-left: 10em;
}

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(26, 192, 192));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.4s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: rgb(26, 192, 192);
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}






